<div class = "container">
    <form [formGroup]="emailForm" (ngSubmit)="handlerEmailForm()">
        <div class="form-group">
            <small *ngIf="success==='error'" class="form-text text-danger">Invalid Username or Password</small>
            <br>
          <label>Email address</label>
          <input type="email" class="form-control" name = "email" placeholder="Enter email" formControlName="email">
          <small *ngIf="email && email.errors?.required && email.touched" class="form-text text-danger">Email is required</small>
          <small *ngIf="email && email.errors?.email" class="form-text text-danger">Enter valid email</small>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid">Sign In with email</button>
    </form>
</div>