<food-homepage-header></food-homepage-header>

<div class="container search">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" id="listSearch">
</div>
<div class="card" style="width: 18rem;" *ngFor="let item of products | search: searchText">
  <img class="card-img-top" src={{item.image}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title center">{{item.name}}</h5>
    <p class="text-muted center">Price: {{item.price | currency | uppercase}} </p>
    <p class="card-text center">{{item.description}} </p>
    <p class="card-text center">{{item.storeName}}</p>
    <div class = "text-center">
      <button class="btn btn-primary center" (click)="addToCart(item)">Add to Cart</button>
    </div>
  </div>
</div>